@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

root{
    --green: #1ED760;
}


.icon {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon i {
    font-size: 25px;
}

.imgUser {
    width: 30px;
    height: 30px;
}

.arrowButton {
    width: 30px;
    height: 30px;
    background-color: #131313;
    color: white;
}

.sizeDrop {
    height: 300px;
}

.bgUserProfile {
    background-color: #0A0A0A;
}

.bgUserProfile li a {
    color: white;
}

.iconInButton {
    width: 30px;
    height: 30px;
}

.iconInButton ion-icon {
    font-size: 20px;
}

.bgSongSection{
    background-color: #212121;
}

.principalSong{
    background: rgb(0,0,0);
    background: linear-gradient(10deg, rgba(0,0,0,1) 36%, rgba(116,111,111,1) 100%);
}

/* 
 background-image: linear-gradient(rgba(0, 0, 0, .6) 0, rgba(0,0,0,1) 100%);
*/

h1{
    font-size: 50px;
}

.imgFriend {
    width: 40px;
    height: 40px;
}

.buttonHidden{
    background-color: #222222;
    color: #636363;
    font-weight: bold;
}

.principalSongFigure{
    height: 256px;
    width: 256px !important;
}

.principalSongFigure img{
    height: 100%;
    width: 100% !important;
    object-fit: cover;
}

.info{
    color: #9B9B9B;
    font-size: 25px;
}

.play{
    background-color: #1ED760;
    font-weight: bold;
}

.salva{
    font-weight: bold;
}

.containerPlaylist{
    background-color: #2D2D2D;
    min-height: 30px;
}

.figurePlaylist{
    max-width: 80px;
    max-height: 80px;
    object-fit: cover;
}
/* .figurePlaylist img{
    height: 100% !important;
    width: 100% !important;
}
 */
.play2{
    background-color: #1ED760;
    font-weight: bold;
    font-size: 20px;
}

.containerPlaylist:hover {
    && .playButtonPlayList{
        animation: playButton 0.6s forwards;
    }
    background-color: #505050;
}

.playButtonPlayList{
    opacity: 0;
}

@keyframes playButton {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

<<<<<<< Updated upstream
/* PAGINA ARTISTA */
.overlay-artist-bg{
    width: 100%;
    height: 300px;
    background-color: #0A0A0A;
    opacity: 0.7;
    position: absolute;
}

.artist-image{
    width: 100%;
    height: 300px;
}

.playArtist{
    background-color: #1ED760;
    font-weight: bold;
    font-size: 35px;
}

.avatar-artist{
    width: 75px;
    height: 75px;
    background-color: red;
}

=======

.visualizzaTutto{
    border: 0px;
    color: #A7A7A7;
    background-color: transparent;
    font-weight: bold;
}
>>>>>>> Stashed changes
